.input-login{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label{
    color: #ffffffcc;
    font-size: 14px;
}

input{
    background: #353B50;
    border: none;
    border-bottom: 1px solid #ffffffcc;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    color: #ffffffcc;
}